<!DOCTYPE html>
<html>
	<form method="post" action="/login">
		<input type="text" name="winner", placeholder="Winner">
		<input type="text" name="loser", placeholder="Loser">
		<input type="text" name="game1", placeholder="game1">
		<input type="text" name="game2", placeholder="game2">
		<input type="text" name="game3", placeholder="game3">
		<input type="text" name="game4", placeholder="game4">
		<input type="text" name="game5", placeholder="game5">
		<input type="submit" value="log match and update roster">
	</form>
</html>